

/*Estilo para smartphone*/
@media only screen and (max-width: 767px) {

/*Header*/

/*Introducao*/

/*Introdução Interna*/


/*Call*/

/*Qualidade Home*/


/*Sobre*/


/*Produtos*/



.produto_info ul li {
	width: 149px;
	height: 49px;
	@include tipo-1(14);
	padding-top: 14px;
}

.form {
	padding-right: 0px;
}

.orcamento_dados ul {
	padding-right: 0px;
}

/*Contato*/

.contato_form {
	padding-right: 0px;
	margin-bottom: 40px;
}

} /* Final do estilo para smartphone */